In [1]:
#Loading the libraries to read the data set
import pandas as pd
import numpy as np

C:\Users\vknsr\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# using pandas read the csv file(dataset)
df=pd.read_csv("C:/Users/vknsr/Downloads/Fytlyff_DS_Interview.csv")
pd.DataFrame(df) # coverting all values to dataframe

,Year,Month,MobileWeb_or_Web,Type_of_Customers?,Where_Are_They_comming_from?,Which_Place_in_India?,How_many_Landed_on_our_Page?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?
0,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Bangalore,NaN,NaN,56892,17178
1,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Chennai,NaN,NaN,41460,11916
2,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Dehradun,NaN,NaN,55561,19461
3,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Indore,NaN,NaN,320923,110667
4,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Pune,NaN,NaN,220937,46033
...,...,...,...,...,...,...,...,...,...,...
2155,2021,Dec,Mobile_website,New_Customer,Unidentified_Sources,Bangalore,67299.0,21255.0,6984,1882
2156,2021,Dec,Mobile_website,New_Customer,Unidentified_Sources,Chennai,430294.0,156510.0,46676,16703
2157,2021,Dec,Mobile_website,New_Customer,Unidentified_Sources,Dehradun,48713.0,27770.0,7515,2089
2158,2021,Dec,Mobile_website,New_Customer,Unidentified_Sources,Indore,593021.0,310836.0,161575,78465
2159,2021,Dec,Mobile_website,New_Customer,Unidentified_Sources,Pune,372897.0,123057.0,48802,19441

In [3]:
#reading the first five data sets of the entire data set, data set contains both catogorical and numeric values and null values
df.head()

,Year,Month,MobileWeb_or_Web,Type_of_Customers?,Where_Are_They_comming_from?,Which_Place_in_India?,How_many_Landed_on_our_Page?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?
0,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Bangalore,NaN,NaN,56892,17178
1,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Chennai,NaN,NaN,41460,11916
2,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Dehradun,NaN,NaN,55561,19461
3,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Indore,NaN,NaN,320923,110667
4,2019,Jan,Desktop_Website,Existing_Customer,Came_From_Google,Pune,NaN,NaN,220937,46033

In [4]:
# getting the column names used from the data set
df.columns

Index(['Year', 'Month', 'MobileWeb_or_Web', 'Type_of_Customers?',
       'Where_Are_They_comming_from?', 'Which_Place_in_India?',
       'How_many_Landed_on_our_Page?',
       'How_many_Landed_on_the_our_Page_and_clicked_on_a_button?',
       'How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form?',
       'How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?'],
      dtype='object')

In [5]:
#getting the total number of null values column wise
df.isnull().sum()

Year                                                                                                                            0
Month                                                                                                                           0
MobileWeb_or_Web                                                                                                                0
Type_of_Customers?                                                                                                              0
Where_Are_They_comming_from?                                                                                                    0
Which_Place_in_India?                                                                                                           0
How_many_Landed_on_our_Page?                                                                                                 1080
How_many_Landed_on_the_our_Page_and_clicked_on_a_button?                                                                     1080
How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form?                                           0
How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?       0
dtype: int64

In [6]:
# knowing more info about the data set before cleaning the data
df.describe()

,Year,How_many_Landed_on_our_Page?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?
count,2160.000000,1.080000e+03,1.080000e+03,2.160000e+03,2.160000e+03
mean,2020.000000,7.844949e+05,3.584563e+05,1.510725e+05,5.922129e+04
std,0.816686,1.232518e+06,4.981331e+05,2.353538e+05,8.646564e+04
min,2019.000000,2.456700e+04,8.425000e+03,3.761000e+03,7.660000e+02
25%,2019.000000,1.406165e+05,8.060375e+04,3.360800e+04,1.157725e+04
50%,2020.000000,3.818205e+05,1.731775e+05,7.064950e+04,2.700450e+04
75%,2021.000000,8.196922e+05,3.948560e+05,1.659590e+05,7.185350e+04
max,2021.000000,1.127413e+07,4.079301e+06,3.022858e+06,1.251258e+06

In [7]:
#data cleaning is performed using replace function
def data_cleaning():
    df=df.replace(to_replace=np.NaN,value=0)
    df['Month'] = pd.to_datetime(df['Month'],format='%b').dt.month
    df=df.replace(to_replace="Came_From_Google",value="Google")
    df=df.replace(to_replace="Landed_on_the_page_Directly",value="Direct_traffic")

In [8]:
#descriptive status
def descriptive_status():
    df.describe()
    df.info()

In [40]:
a=df.groupby('Which_Place_in_India?') # to get the city max for each city we use group by method
b=a.max(5)
b

,Year,How_many_Landed_on_our_Page?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form?,How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?
Which_Place_in_India?,,,,,
Bangalore,2021,1645248.0,781237.0,701204,502226
Chennai,2021,4605196.0,2235411.0,1833439,430733
Dehradun,2021,2255791.0,1121317.0,994925,873534
Indore,2021,5706772.0,3406853.0,3022858,1251258
Pune,2021,11274131.0,4079301.0,1942557,923720

In [41]:
# dividing both the columns of b and keep it in c
c=b['How_many_Landed_on_our_Page?']/b['How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?']

In [45]:
c  # from this we can see chennai is highest

Which_Place_in_India?
Bangalore     3.275912
Chennai      10.691533
Dehradun      2.582373
Indore        4.560828
Pune         12.205139
dtype: float64

In [56]:
d=df["Year"]=2021 # assigning all values of 2021 to d

In [57]:
from sklearn.metrics import mean_absolute_percentage_error #imported the MAPE from sklearn
def pred_future():
    b['How_many_Landed_on_the_our_Page_and_clicked_on_a_button_and_started_filling_the_Form_and_Completed_and_submited_the_form?'].predict("Year"==2022)
    mean_absolute_percentage_error(df,d)